input
{
    outline: none;
    border: none;
}
form
{
    padding-left: 450px;
    padding-top: 100px;
}
td
{
    padding-right: 200px;
    line-height: 20px;
}
.heading
{
    font-size: 20px;
}
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
  text-align: center;
  border: none;
  font-size: 20px;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: none;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}