* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Style the header */
.topbar {
  background-color: #8ee4e7;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
.leftside {
  float: left;
  width: 50%;
  height: 600px;
  background: #e78ee7;
}

.logoimg{
  height: 100%;
  width: 100%;
}

.rightside {
  float: left;
  padding: 20px;
  width: 50%;
  background-color: #e78ee7;
  height: 600px;
}

/* Clear floats after the columns */
.middlebar::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.bottombar {
  background-color: #e78ee7;
  padding: 10px;
  height: 200px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  .leftside, .rightside {
    width: 100%;
    height: auto;
  }
}

